#setLimit {
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

#overLimit {
    position: fixed;
    left: 50%;
    top: 22%;
    transform: translate(-50%, -50%);
}

#userStats {
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}