#viewItems {
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

#addStorage {
    position: fixed;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
}

#addItems {
    position: fixed;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -50%);
}

#logoutButton {
    top: 1.5%;
    position: absolute;
    left: 92.5%;
}